.first-screen {
  width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  &__image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../img/cooking.jpg);
    @include row-flex-center(center, column, center);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }
  &__squeeze {
    width: 40%;
    transition: all 1s ease-in;
  }
}
.second-screen {
  @include row-flex-center(stretch, row, flex-start);
  overflow-x: hidden;
  position: relative;
  width: 60%;
  max-height: 100vh;
}
@media screen and (max-width: 720px) {
  .second-screen {
    width: 100%;
  }
  .first-screen__squeeze {
    width: 100%;
  }
}
