.recepe {
  color: white;
  @include row-flex-center(space-between, column, flex-start);
  width: 100%;

  &__title {
    margin-bottom: 2rem;
  }
  &__ingredients-container {
    @include row-flex-center(space-between, row, flex-start);
    flex-wrap: wrap;
  }
  &__ingredients-title-container {
    @include row-flex-center(center, row, center);
    position: absolute;
    width: 5rem;
    background-color: $green-color;
    top: 0;
    left: 0;
    height: 100vh;
  }
  &__one-ingredient {
    @include row-flex-center(space-between, column, flex-start);
    width: 8rem;
    margin-bottom: 3rem;
  }

  &__ingredients-title {
    margin-bottom: 0.8rem;
    transform: rotate(-90deg);
  }
  &__ingredients-name {
    margin-bottom: 0.8rem;
  }
  &__ingredients-measure {
    margin-bottom: 0.5rem;
  }
  &__ingredients-img {
  }
}
